* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #0055aa;
  --color-primary-dark: #0b2545;
  --color-secondary: #bd9d6c;
  --color-text-dark: #333;
  --color-text-medium: #444;
  --color-text-light: #9ca3af;
  --color-background-body: #f8fafc;
  --color-background-header: #ffffff;
  --color-accent: #7d9abe;
  --font-sans: "Cairo", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-body: "Cairo", sans-serif;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* Shadows */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.288),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.department-section {
  padding: 40px 20px;
  text-align: center;
  cursor: pointer;
}

.department-section .container {
  background: #fff;
  margin: 20px auto;
  padding: 25px;
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.department-section .container:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-md);
}
.department-section .container .title {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-primary);
  display: inline-block;
  padding-bottom: 5px;
}

.department-section .container p {
  line-height: 1.8;
  font-size: 1rem;
  color: var(--color-primary-dark);
}

.department-section .container ul {
  text-align: right;
  list-style: none;
  padding: 0;
}

.department-section .container ul li {
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s;
}

.department-section .container ul li:hover {
  transform: translateX(-5px);
  background-color: #c4d4e94d;
}

.department-section .container .links {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.foot-page {
  margin: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
.foot-page a {
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 10px;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 11px;
}

.foot-page a:hover {
  background: var(--color-primary);
  transform: translateY(-4px);
  box-shadow: var(--shadow-lg);
}

p {
  margin-bottom: 15px;
  text-align: justify;
  font-weight: bold;
}
ol {
  padding-right: 20px;
}

strong {
  color: #333;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateX(0);
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .title {
    font-size: 1.2rem;
  }
  p,
  ul li {
    font-size: 0.95rem;
  }
  .foot-page {
    grid-template-columns: repeat(2, 1fr);
  }
}
